<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Description</th>
      <th>Accion</th>
    </tr>
    </thead>
    <tbody>
    
    <% @students.each do |student| %>
      <tr>
      <td><%= student.name %></td>
      <td><%= student.email %></td>
      <td><%= student.description %></td>
      <td><%= link_to "Show this student", student %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
</div>

<%= link_to "New student", new_student_path %>
